			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">

					<div class="row">

						<!-- col #1 -->
						<div class="logo_footer dark col-md-3">

							<img alt="" src="assets/images/logo_footer.png" height="50" class="logo" />

							<p class="block">
								Åstrupvej 10<br />
								9000 Hjørring<br />
								Email: info@app-solutions.com<br />
								Phone: +45 98 90 49 16<br />
							</p>

							<p class="block"><!-- social -->
								<a href="https://twitter.com/appSolutions" class="social fa fa-twitter"></a>
								<a href="https://www.facebook.com/appSolutions" class="social fa fa-facebook"></a>
								<a href="https://www.linkedin.com/company/appsolutions-a-s" class="social fa fa-linkedin"></a>
							</p><!-- /social -->
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="spaced col-md-3 col-sm-4 hidden-xs">
							<h4>Recent <strong>Posts</strong></h4>
							<ul class="list-unstyled">
								<li>
									<a class="block" href="#">Deployment</a>
									<small>Oct 4, 2014</small>
								</li>
								<li>
									<a class="block" href="#">New RTB Automation Toolkit released</a>
									<small>July 29, 2014</small>
								</li>
							</ul>
						</div>
						<!-- /col #2 -->

						<!-- col #3 -->
						<div class="spaced col-md-3 col-sm-4 hidden-xs">
							<h4>Recent <strong>Tweets</strong></h4>
							<ul class="list-unstyled fsize13">
								<li>
									<i class="fa fa-twitter"></i> <a href="#">@appSolutions</a> Julian from @WhoGloo presenting tomorrow on being #nodeable to @pugNL #PRGRSPUG #whoGloo
								</li>
								<li>
									<i class="fa fa-twitter"></i> <a href="#">@ProgressSW</a> Enjoying your weekend? Bet you'll enjoy the beautiful weather in Orlando, October 6-8. Only 9 days until #PRGS14! http://ow.ly/i/71laG  
								</li>
								<li>
									<i class="fa fa-twitter"></i> <a href="#">@Docker</a> Why Did @Docker Catch on Quickly and Why is it so Interesting?http://thenewstack.io/why-did-docker-catch-on-quickly-and-why-is-it-so-interesting/ … by @adrianco via @thenewstack
								</li>
							</ul>
						</div>
						<!-- /col #3 -->

						<!-- col #4 -->
						<div class="spaced col-md-3 col-sm-4">
							<h4>About <strong>Us</strong></h4>
							<p>
								Service and solution provider for Progress Software technology.
							</p>

							<h4><small><strong>Subscribe to our Newsletter</strong></small></h4>
							<form id="newsletterSubscribe" method="post" action="php/newsletter.php" class="input-group">
								<input required type="email" class="form-control" name="newsletter_email" id="newsletter_email" value="" placeholder="E-mail Address">
								<span class="input-group-btn">
									<button class="btn btn-primary">SUBMIT</button>
								</span>
							</form>

						</div>
						<!-- /col #4 -->

					</div>

				</div>

				<hr />

				<div class="copyright">
					<div class="container text-center fsize12">
						 &bull; All Right Reserved &copy; appSolutions A/S 2014. &nbsp;
						<a href="page-privacy.html" class="fsize11">Privacy Policy</a> &bull; 
						<a href="page-terms.html" class="fsize11">Terms of Service</a>
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->