			<div id="header"> <!-- class="sticky" for sticky menu -->

				<!-- Top Bar -->
				<header id="topBar">
					<div class="container">

						<!-- mail , phone -->
						<div class="call-us fsize13 pull-left margin-top10">
							Call Us Today: <strong>+45 98 90 49 16 </strong>
							<span class="hide_mobile">
								&bull; <a href="mailto:info@app-solutions.com">info@app-solutions.com</a>
							</span>
						</div>

						<div class="pull-right fsize13 hide_mobile">

							<div class="block text-right"><!-- social -->
								<a href="https://twitter.com/appSolutions" class="social fa fa-twitter"></a>
								<a href="https://www.facebook.com/appSolutions" class="social fa fa-facebook"></a>
								<a href="https://www.linkedin.com/company/appsolutions-a-s" class="social fa fa-linkedin"></a>
							</div><!-- /social -->

						</div>

					</div><!-- /.container -->
				</header>
				<!-- /Top Bar -->


				<!-- Top Nav -->
				<header id="topNav">
					<div class="container">

						<!-- Logo -->
						<a class="logo" href="index.html">
							<img src="assets/images/logo.png" height="50" alt="" />
						</a>

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Search -->
						<form class="search" method="get" action="search.html">
							<input type="text" class="form-control" name="s" value="" placeholder="Search">
							<button class="fa fa-search"></button>
						</form>
						<!-- /Search -->

						<!-- Top Nav -->
						<div class="navbar-collapse nav-main-collapse collapse">
							<nav class="nav-main">

								<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">
								
									<!-- HOME -->
									<li class="mega-menu dropdown active">
										<a class="dropdown-toggle" href="index.html">
											HOME <span>welcome</span>
										</a>
									</li>
									<!-- /HOME -->

									<!-- SERVICES  -->
									<li class="dropdown">
										<a class="dropdown-toggle" href="#">SERVICES <span>Consulting</span></a>
										<ul class="dropdown-menu">
											<li><a href="services-rtbevaluation.html">Roundtable Evaluations</a></li>
											<li><a href="services-rtbaudit.html">Roundtable Audits</a></li>
											<li class="divider"></li>
											<li><a href="services-consulting.html">Consulting</a></li>
											<li><a href="services-support.html">Support</a></li>
											<li><a href="services-development.html">Development</a></li>
										</ul>
									</li>
									<!-- /SERVICES -->
									
									<!-- SOLUTIONS  -->
									<li class="dropdown">
										<a class="dropdown-toggle" href="#">SOLUTIONS <span>appSolute</span></a>
										<ul class="dropdown-menu">
											<li><a href="solutions-toolkit.html">Roundtable Automation Toolkit</a></li>
											<li><a href="solutions-deployment.html">Deployment & Automation</a></li>
											<li><a href="solutions-roundtable.html">Roundtable</a></li>
										</ul>
									</li>
									<!-- /SERVICES -->
									
									<!-- PARTNERS -->
									<li class="mega-menu dropdown">
										<a class="dropdown-toggle" href="partners-1.html">
											Partners <span></span>
										</a>
									</li>
									<!-- /PARTNERS -->
									
									<!-- NEWS  -->
									<li class="dropdown">
										<a class="dropdown-toggle" href="news.html">NEWS <span>recent news</span></a>
										<ul class="dropdown-menu">
											<li><a href="news-careers.html">Career</a></li>
											<li><a href="news-twit.html">Twitter</a></li>
											<li><a href="news-face.html">Facebook</a></li>
										</ul>
									</li>
									<!-- /NEWS  -->

									<li class="dropdown">
										<a class="dropdown-toggle" href="contact.html">CONTACT <span>write us</span></a>
										<ul class="dropdown-menu">
										</ul>
									</li>
									
									<!-- ABOUT  -->
									<li class="dropdown">
										<a class="dropdown-toggle" href="about.html">ABOUT <span>AS terms</span></a>
										<ul class="dropdown-menu">
											<li><a href="terms-conditions.html">Terms and Conditions</a></li>
										</ul>
									</li>
									<!-- /ABOUT  -->
									
									
								</ul>

							</nav>
						</div>
						<!-- /Top Nav -->

					</div><!-- /.container -->
				</header>
				<!-- /Top Nav -->

			</div>