			<div id="header"> <!-- class="sticky" for sticky menu -->

				<!-- Top Nav -->
				<header id="topNav">
					<div class="container">

						<!-- Logo -->
						<a class="logo" href="index.html">
							<img src="assets/images/logo.png" height="50" alt="" />
						</a>

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Search -->
						<form class="search" method="get" action="search.html">
							<input type="text" class="form-control" name="s" value="" placeholder="Search">
							<button class="fa fa-search"></button>
						</form>
						<!-- /Search -->

						<!-- Top Nav -->
						<div class="navbar-collapse nav-main-collapse collapse">
							<nav class="nav-main">

								<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">

									<!-- APPSOLUT MANAGER  -->
									<li class="dropdown">
										<a class="dropdown-toggle" href="#">appSolute <span>Manager</span></a>
										<ul class="dropdown-menu">
											<li><a href="services-rtbevaluation.html">Sub menu 1</a></li>
											<li><a href="services-rtbaudit.html">Sub menu 2</a></li>
											<li class="divider"></li>
											<li><a href="services-consulting.html">Sub men 3</a></li>
										</ul>
									</li>
									<!-- /APPSOLUT MANAGER -->
									
									<!-- SUPPORT  -->
									<li class="dropdown">
										<a class="dropdown-toggle" href="#">Support </a>
										<ul class="dropdown-menu">
											<li><a href="solutions-toolkit.html">Help & Guides</a></li>
											<li><a href="solutions-deployment.html">Tips and shortscuts</a></li>
											<li><a href="solutions-deployment.html">Register</a></li>
										</ul>
									</li>
									<!-- /SUPPORT -->

								</ul>

							</nav>
						</div>
						<!-- /Top Nav -->

					</div><!-- /.container -->
				</header>
				<!-- /Top Nav -->

			</div>